@page
@model CRUD.Pages.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<p>Enter your name</p>

<form method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label>Name: <input asp-for="Customer.Name" /></label>
        <input type="submit" value="Save" />
    </div>
    <!--<span asp-validation-for="Customer.Name"></span>-->
    
</form>