@page
@model PicComputers.Pages.ProductProperty.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>ProductProperty</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductProperty.ProductPropertyId" />
            <div class="form-group">
                <label asp-for="ProductProperty.Key" class="control-label"></label>
                <input asp-for="ProductProperty.Key" class="form-control" />
                <span asp-validation-for="ProductProperty.Key" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductProperty.Name" class="control-label"></label>
                <input asp-for="ProductProperty.Name" class="form-control" />
                <span asp-validation-for="ProductProperty.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductProperty.Value" class="control-label"></label>
                <input asp-for="ProductProperty.Value" class="form-control" />
                <span asp-validation-for="ProductProperty.Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
